<main class="bg-zinc-900 min-h-screen pt-5">
    <!-- Main Container -->
    <div class="max-w-[90vw] mx-auto flex h-[95vh] bg-zinc-800 shadow-lg rounded-xl overflow-hidden">
        <!-- Left Sidebar (Chat List) -->
        <div class="hidden md:flex flex-col w-[30%] bg-zinc-800 border-r border-black">
            <!-- Header Section -->
            <div class="sticky top-0 z-50 bg-zinc-800 p-4 flex items-center justify-between">
                <div class="flex items-center space-x-3">
                    <h1 class="font-bold text-2xl text-white">Chats </h1>
                </div>
                <div class="flex space-x-2">
                    <ng-container *ngIf="!showNewChatList; else clearNewChatTemplate">
                        <button
                            class="bg-zinc-600 px-2 py-2 rounded-full text-white hover:cursor-pointer transition-transform duration-300 ease-in-out transform hover:scale-110"
                            (click)="addChat()">
                            <i class="fas fa-add px-1"></i>
                        </button>
                    </ng-container>
                    <ng-template #clearNewChatTemplate>
                        <button
                            class="bg-red-600 px-3 py-2 rounded-full text-white hover:cursor-pointer transition-transform duration-300 ease-in-out transform hover:rotate-90"
                            (click)="addChat()">
                            <i class="fas fa-multiply px-1"></i>
                        </button>
                    </ng-template>
                </div>

            </div>

            <div *ngIf="!showNewChatList">

                <!-- Search Bar -->
                <app-search></app-search>
                <!-- Search Bar -->

                <!-- Chat List -->
                <ng-container *ngIf="chats.length;else noChat">
                    <app-chat-list *ngFor="let item of chats" [chat]="item"
                        (selectChatEvent)="onSelectChat($event)"></app-chat-list>
                </ng-container>
                <ng-template #noChat>
                    <p class="text-center text-zinc-700 mt-3">No chats available</p>
                </ng-template>
                <!-- Chat List -->

            </div>

            <app-new-chat-list *ngIf="showNewChatList" (addNewChatEvent)="createOrGetAOneOnOneChat($event)"
                (createNewGroupEvent)="onCreateNewGroup($event)">
            </app-new-chat-list>

        </div>

        <!-- Right Chat View -->
        <ng-container *ngIf="selectedChat && isSelectedChatValid; else noSelectedChat">
            <div class="flex-1 flex flex-col bg-zinc-800">
                <!-- Chat Header -->
                <div class="sticky top-0 z-30 bg-zinc-800 p-4 border-b border-black flex items-center justify-between">
                    <button class="md:hidden">
                        <i class="fas fa-arrow-left text-gray-500"></i>
                    </button>

                    <div class="flex items-center space-x-3">
                        <ng-container *ngIf="!selectedChat.isGroupChat; else GroupChat">
                            <img [src]="getAvatar"
                                alt="https://pics.craiyon.com/2023-07-09/2397d134ccee4679bfa3de7f100a62f4.webp"
                                class="rounded-full w-10 h-10">
                        </ng-container>
                        <ng-template #GroupChat>
                            <img src="https://cdn6.aptoide.com/imgs/1/2/2/1221bc0bdd2354b42b293317ff2adbcf_icon.png"
                                alt="Contact" class="rounded-full w-10 h-10">
                        </ng-template>
                        <div>
                            <h3 class="font-medium text-white">{{ getName }}</h3>
                            <span class="text-sm text-green-500" *ngIf="isRecieverTyping">Typing...</span>
                        </div>
                    </div>

                    <!-- Ellipsis Icon & Dropdown Menu -->
                    <div class="relative" *ngIf="selectedChat.isGroupChat">
                        <i class="fa-solid fa-ellipsis-vertical text-white hover:cursor-pointer"
                            (click)="toggleMenu()"></i>
                        <div *ngIf="isMenuOpen"
                            class="absolute right-0 mt-2 w-40 bg-zinc-800 shadow-lg rounded-md animate-fadeIn">
                            <ul class="py-2 text-zinc-200">
                                <li *ngIf="selectedChat.admin === selectedChat.loggeduser" (click)="addUserToChat()"
                                    class="px-4 py-2 flex items-center gap-2 hover:bg-zinc-700 cursor-pointer transition">
                                    ➕ <span>Add User</span>
                                </li>
                                <li (click)="leaveChat()"
                                    class="px-4 py-2 flex items-center gap-2 hover:bg-zinc-700 cursor-pointer text-red-500 transition">
                                    🚪 <span>Leave Chat</span>
                                </li>
                            </ul>
                        </div>

                        <!-- Add Users Dropdown -->
                        <div *ngIf="nonParticipants.length > 0"
                            class="absolute right-0 mt-2 w-48 bg-zinc-700 shadow-lg rounded-md p-3 animate-slideIn">
                            <h4 class="text-sm font-semibold px-2 text-white border-b border-zinc-500 pb-2">Select Users
                            </h4>
                            <ul class="mt-2">
                                <li *ngFor="let user of nonParticipants" (click)="addUser(user._id)"
                                    class="px-4 py-2 flex justify-between items-center hover:bg-zinc-600 cursor-pointer text-white rounded-md transition">
                                    {{ user.username }}
                                    <span *ngIf="selectedParticipants.includes(user._id)">✔️</span>
                                </li>
                            </ul>
                            <div class="flex justify-end gap-2 mt-3">
                                <button (click)="confirmAddUsers()"
                                    class="bg-green-600 text-white px-3 py-1 rounded-md hover:bg-green-500 transition"
                                    [disabled]="!selectedParticipants.length">Confirm</button>
                                <button (click)="cancelAddUsers()"
                                    class="bg-red-500 text-white px-3 py-1 rounded-md hover:bg-red-400 transition">Cancel</button>
                            </div>
                        </div>

                    </div>
                </div>


                <!-- Chat Messages -->
                <div class="flex-1 overflow-y-auto px-4 pt-4 pb-3">
                    <app-message-container [messages]="messages" [isGroupChat]="selectedChat.isGroupChat"
                        (allMessageReadEvent)="onReadAllMessages()">
                    </app-message-container>
                </div>

                <!-- Message Input -->
                <!-- Chat input area -->
                <div class="sticky bottom-0 bg-zinc-800 border-t border-black p-4">
                    <div class="flex items-center space-x-3 bg-zinc-800 rounded-lg p-2 relative">
                        <button><i class="fas fa-smile text-white"></i></button>

                        <!-- Paperclip Button -->
                        <button (click)="toggleAttachmentMenu()">
                            <i class="fas fa-paperclip text-white"></i>
                        </button>

                        <!-- Attachment List -->
                        <div *ngIf="showAttachments"
                            class="absolute bottom-12 left-2 bg-zinc-700 p-2 rounded-md shadow-lg">
                            <button (click)="selectAttachment('image')"
                                class="block text-white p-2 hover:bg-zinc-600 w-full rounded-md">
                                <i class="fa-regular fa-image"></i> Image
                            </button>
                            <button (click)="selectAttachment('document')"
                                class="block text-white p-2 hover:bg-zinc-600 w-full rounded-md">
                                <i class="fa-regular fa-file"></i> Document
                            </button>
                        </div>

                        <!-- Input Field -->
                        <input type="text" placeholder="Type a message..."
                            class="flex-1 bg-zinc-800 focus:outline-none text-white" [(ngModel)]="content"
                            (input)="onTyping()">
                        <input type="file" class="hidden" #fileInput (change)="onFileChange($event)">
                        <button (click)="addMessage()" [disabled]="content.trim() == ''"><i
                                class="fas fa-share text-white"></i></button>
                    </div>
                </div>

                <!-- File Uploader Component -->
                <app-file-uploader *ngIf="selectedFile" [selectedFile]="selectedFile"
                    (fileSelectedEvent)="handleFileUpload($event)" (cancelFileUploadEvent)="onCancelFileUpload()"
                    (reTryFileSelectionEvent)="onReTryToSelectFile($event)" [attachmentType]="selectedAttachmentType"
                    [error]="error">
                </app-file-uploader>


            </div>
        </ng-container>
        <ng-template #noSelectedChat>
            <div class="flex-1 flex flex-col bg-zinc-800">

                <!-- Chat Messages -->
                <div class="flex-1 overflow-y-auto px-4 pt-4 pb-32">
                    <!-- Sample Messages -->
                    <div class="space-y-4">
                        <div class="flex justify-center items-center">
                            <h1 class="text-4xl text-zinc-300 font-semibold text-center">Hala-chat for you</h1>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </div>
</main>