<main class="bg-zinc-900 min-h-screen pt-5">
    <!-- Main Container -->
    <div class="max-w-[90vw] mx-auto flex h-[95vh] bg-zinc-800 shadow-lg rounded-xl overflow-hidden">
        <!-- Left Sidebar (Chat List) -->
        <div class="hidden md:flex flex-col w-[30%] bg-zinc-800 border-r border-black">
            <!-- Header Section -->
            <div class="sticky top-0 z-50 bg-zinc-800 p-4 flex items-center justify-between">
                <div class="flex items-center space-x-3">
                    <h1 class="font-bold text-2xl text-white">Chats </h1>
                </div>
                <div class="flex space-x-2">
                    <ng-container *ngIf="!showNewChatList;else clearNewChatTemplate">
                        <button class="bg-zinc-600 px-3 py-2 rounded-full text-white hover:cursor-pointer"
                            (click)="addChat()">
                            <i class="fas fa-add px-1"></i>
                        </button>
                    </ng-container>
                    <ng-template #clearNewChatTemplate>
                        <button class="bg-red-600 px-3 py-2 rounded-full text-white hover:cursor-pointer"
                            (click)="addChat()">
                            <i class="fas fa-multiply px-1"></i>
                        </button>
                    </ng-template>
                </div>
            </div>

            <div *ngIf="!showNewChatList">

                <!-- Search Bar -->
                <app-search></app-search>
                <!-- Search Bar -->

                <!-- Chat List -->
                <ng-container *ngIf="chats.length;else noChat">
                    <app-chat-list *ngFor="let item of chats" [chat]="item" (selectChatEvent)="createOrGetAOneOnOneChat($event)"></app-chat-list>
                </ng-container>
                <ng-template #noChat>
                    <p class="text-center text-zinc-700 mt-3">No chats available</p>
                </ng-template>
                <!-- Chat List -->

            </div>

            <app-new-chat-list *ngIf="showNewChatList"
                (addNewChatEvent)="createOrGetAOneOnOneChat($event)">
            </app-new-chat-list>

        </div>

        <!-- Right Chat View -->
        <ng-container *ngIf="selectedChat; else noSelectedChat">
            <div class="flex-1 flex flex-col bg-zinc-800">
                <!-- Chat Header -->
                <div class="sticky top-0 z-30 bg-zinc-800 p-4 border-b border-black flex items-center justify-between">
                    <button class="md:hidden">
                        <i class="fas fa-arrow-left text-gray-500"></i>
                    </button>
                    <div class="flex items-center space-x-3">
                        <img src="https://pics.craiyon.com/2023-07-09/2397d134ccee4679bfa3de7f100a62f4.webp"
                            alt="Contact" class="rounded-full w-10 h-10">
                        <div>
                            <h3 class="font-medium text-white">{{getName}}</h3>
                            <span class="text-sm text-gray-500">Online</span>
                        </div>
                    </div>
                </div>

                <!-- Chat Messages -->
                <div class="flex-1 overflow-y-auto px-4 pt-4 pb-3">
                     <app-message-container  [messages]="messages"></app-message-container>
                </div>

                <!-- Message Input -->
                <div class="sticky bottom-0 bg-zinc-800 border-t border-black p-4">
                    <div class="flex items-center space-x-3 bg-zinc-800 rounded-lg p-2">
                        <button>
                            <i class="fas fa-smile text-white"></i>
                        </button>
                        <button>
                            <button><i class="fas fa-paperclip text-white"></i></button>
                        </button>
                        <input type="text" placeholder="Type a message..."
                            class="flex-1 bg-zinc-800 focus:outline-none text-white" [(ngModel)]="content">
                        <button (click)="addMessage()"><i class="fas fa-share text-white"></i></button>
                    </div>
                </div>
            </div>
        </ng-container>
        <ng-template #noSelectedChat>
            <div class="flex-1 flex flex-col bg-zinc-800">

                <!-- Chat Messages -->
                <div class="flex-1 overflow-y-auto px-4 pt-4 pb-32">
                    <!-- Sample Messages -->
                    <div class="space-y-4">
                        <div class="flex justify-center items-center">
                            <h1 class="text-4xl text-zinc-300 font-semibold text-center">Hala-chat for you</h1>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>


    </div>
</main>