<div class="flex-1 overflow-y-auto px-4 pb-4" (click)="onSelectChat()">
    <!-- Sample Chat Items -->
    <div class="space-y-4">
        <div class="flex items-center space-x-4 p-3 rounded-lg hover:bg-zinc-700 cursor-pointer">
            <ng-container *ngIf="!chat.isGroupChat; else groupImage">
                <img src="https://pics.craiyon.com/2023-07-09/2397d134ccee4679bfa3de7f100a62f4.webp" alt="Contact"
                    class="rounded-full w-12 h-12">
            </ng-container>
            <ng-template #groupImage>
                <img src="https://cdn6.aptoide.com/imgs/1/2/2/1221bc0bdd2354b42b293317ff2adbcf_icon.png" alt="Contact"
                    class="rounded-full w-12 h-12">
            </ng-template>
            <div class="flex-1 justify-between items-center">
                <h3 class="font-medium text-white">{{getName}}</h3>

                <span class="text-sm text-gray-500 flex items-center justify-start" *ngIf="chat.lastMessage?.length">
                    <!-- Checkmarks (✓✓) -->
                    <span class="flex justify-start text-zinc-500 font-semibold me-1">
                        <p>✓</p>
                        <p class="-ml-2">✓</p>
                    </span>

                    <!-- Safe check for lastMessage -->
                    <ng-container *ngIf="chat?.lastMessage?.[0]?.attachments as attachment">
                        <!-- Image Message -->
                        <p *ngIf="attachment.fileType =='image'">
                            <i class="fa-regular fa-image"></i> Image
                        </p>

                        <!-- Document Message -->
                        <p *ngIf="attachment.fileType == 'document'" class="text-ellipsis">
                            <i class="fa-regular fa-file"></i> {{ attachment.fileName }}
                        </p>

                        <p *ngIf="attachment.fileType !== 'document' && attachment.fileType !== 'image'"
                            class="text-ellipsis">
                            {{chat.lastMessage[0].content}}
                        </p>
                    </ng-container>

                </span>

                <!-- <span class="text-sm text-gray-500">Typing...</span> -->
            </div>
            <div class="flex-col min-w-[60px]">
                <span class="text-xs text-gray-400">{{chat.updatedAt | date: 'shortTime'}}</span>
                <div
                    class="w-5 h-4 bg-green-500 rounded-full text-zinc-900 flex items-center justify-center text-xs mt-1">
                    1
                </div>
            </div>
        </div>
        <!-- Add more chat items as needed -->
    </div>
</div>