<div class="max-w-sm w-full mx-auto p-4 mt-4 rounded-lg shadow-lg bg-white overflow-hidden">
    <h1 class="text-slate-700 text-3xl font-semibold mb-4">New Chat</h1>
    <input type="text" placeholder="Search agencies..."
        class="w-full my-3 px-4 py-2 bg-gray-100 text-black border-b-4 rounded-lg focus:outline-none focus:border-b-[#ff6b54] transition-all ease-in-out duration-300" />
    <hr class="my-2 border-gray-200" />
    <ng-container *ngIf="users && users.length; else noUsers">
        <ul class="space-y-2 overflow-y-auto max-h-64 scrollbar-thin scrollbar-thumb-gray-400 scrollbar-track-gray-100">
            <li class="flex items-center space-x-3 px-4 py-3 rounded-lg hover:bg-gray-200 cursor-pointer transition-all duration-200"
                *ngFor="let user of users; let i = index" (click)="onSelectUser(user)">
                <div class="w-10 h-10 rounded-full text-white flex items-center justify-center"
                    [ngStyle]="{ 'background-color': getColor(i) }">
                    <ng-container *ngIf="isUser(user); else agency">
                        {{ user.username[0] }}
                    </ng-container>
                    <ng-template #agency>
                        {{ user.username[0] }}
                    </ng-template>
                </div>
                <span class="font-medium text-gray-700">
                    <ng-container *ngIf="isUser(user); else agencyName">
                        {{ user.username }}
                    </ng-container>
                    <ng-template #agencyName>
                        {{ user.username }}
                    </ng-template>
                </span>
            </li>
        </ul>
    </ng-container>
    <ng-template #noUsers>
        <p class="text-slate-700 text-center">No users available</p>
    </ng-template>
</div>